/* ------------------------ */
/* GLOBAL RULES */
/* --------------------------- */
.container {
  padding: 0 30px;
  box-sizing: border-box;
}

/* ------------------------ */
/* Header */
/* --------------------------- */
.header {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .header-title {
  font-weight: bold;
  font-size: 32px;
}
.header .header-base-line {
  margin-top: 10px;
  font-size: 20px;
}

/* ------------------------ */
/* Navigation Menu */
/* --------------------------- */

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #333333;
}
.navigation-menu a {
  color: white;
  text-decoration: none;
}
.navigation-menu .left-menu a {
  margin-right: 40px;
}

/* ------------------------ */
/* Content */
/* --------------------------- */
.content {
  display: flex;
}
.items {
  flex: 3;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 30px;
}
.side-contents {
  margin-top: 30px;
  flex: 1;
}

/* ------------------------ */
/* Item */
/* --------------------------- */
.item {
  margin-bottom: 80px;
}
.item img {
  height: 200px;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.item h1 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}
.item h2 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.item p {
  font-size: 16px;
  margin-top: 15px;
}
/* ------------------------ */
/* Side content */
/* --------------------------- */

.side-contents .side-content h1 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.side-contents .side-content p {
  font-size: 16px;
  margin-top: 15px;
}
.side-contents .side-content img {
  height: 240px;
  width: 90%;
  object-fit: cover;
  object-position: center;
}

/* ------------------------ */
/* Footer */
/* --------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------ */
/* MEDIA QUERIES */
/* --------------------------- */
@media (max-width: 768px) {
  .content {
    display: inherit;
    margin-bottom: 50px;
  }
}
